body {
  font-family: sans-serif;
  max-width: 40em;
  line-height: 1.5;
  margin: 0em auto;
  background-color: white;
  box-shadow: 0 0 10px 2px black;
  padding: 0 3em;
}

:is(header, main) > section:not(:first-child), footer, h3 {
    margin: 4em auto 2em;
}

h2 {
  border: black 1.5pt solid;
  width: max-content;
  padding: 5px 10px;
  border-radius: 10px;
}

h1 {
  margin-top: 0;
}

html {
  background-color: lightcoral;
}

nav {
  /*display: flex;
  flex-direction: column; */
  position: fixed;
  top: 0;
  left: 10px;
  z-index: 1;
  & > a {
    width: max-content;
    background-color: white;
    border: black 1.5pt solid;
    border-radius: 5px;
    padding: 5px 10px;
  }
}