---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogPostPreview from "../../components/BlogPostPreview.astro";
const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true }),
);
const pageTitle = "Blog";
---
<BaseLayout {pageTitle}>
  <p>
    A blog may or may not help me in my life journey. I think it will help only
    because articulating my thoughts and ideas has brought me clarity,
    introspection, and reformation.
  </p>

  {allPosts.map((post: any) => (
    <li>
      <BlogPostPreview
        href={post.url}
        title={post.frontmatter.title}
        pubDate={post.frontmatter.pubDate.slice(0, 10)}
        desc={post.frontmatter.description}
      />
    </li>
  ))}
</BaseLayout>
