---
import Social from "./Social.astro";
---
<footer>
  <p>
    I exist in Internet places. Contact me <a
      href="mailto:demetrius@demsem.dev"
    >by way of email</a> please.
  </p>
  <Social platform="LinkedIn" username="in/demetrius-semanko/" />
  <Social platform="WitchSky" username="profile/demsem.dev" />
  <section>
    <span>&copy; 2026 Demetrius</span>
  </section>
</footer>
