/* realtimecolors.com is really awesome! */
@media (prefers-color-scheme: light) {
  :root {
    --text: #260307;
    --background: #fdf7f8;
    --primary: #a65e60;
    --secondary: #a9d0b3;
    --accent: #7fb4b8;
    --body: #fff;
    --shadow: #00000067;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #fcd9dd;
    --background: #080203;
    --primary: #a1595b;
    --secondary: #2f5639;
    --accent: #477b80;
    --body: #111;
    /* --shadow: #ffffff67;*/
    --shadow: #0000;
  }
  :not(nav) > a {
    color: lightskyblue;
    font-weight: bold;
    &:not(:last-child) {
      margin-right: 0.5em;
    }
    &:visited {
      color: #de58be;
    }
  }
}

:root {
  color: var(--text);
}

html {
  background-color: var(--background);
  scrollbar-gutter: stable;
}

body {
  background-color: var(--body);
  border-radius: 0 0 10px 10px;
  box-shadow: 0 1px 10px 0 var(--shadow);
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0em auto;
  max-width: 40em;
  padding: 0 3em;
}

h2 {
  margin-top: 4em;
}

* > h2 {
  margin-bottom: 1em;
  width: max-content;
  & + p {
    border: var(--accent) 1.5pt solid;
    border-style: solid none none none;
    padding-top: 1em;
  }
}

footer,
h3 {
  margin: 2em auto 1em;
}

h3 {
  font-style: italic;
  &:not(:first-of-type) {
    border: 1.5pt var(--accent);
    border-style: dashed none none none;
    padding-top: 2em;
  }
}

footer {
  padding-bottom: 2em;
}
