/* realtimecolors.com is really awesome! */
@media (prefers-color-scheme: light) {
  :root {
    --text: #260307;
    --background: #fdf7f8;
    --primary: #a65e60;
    --secondary: #a9d0b3;
    --accent: #7fb4b8;
    --body: #fff;
    --shadow: #00000067;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text: #fcd9dd;
    --background: #080203;
    --primary: #a1595b;
    --secondary: #2f5639;
    --accent: #477b80;
    --body: #111;
    /* --shadow: #ffffff67;*/
    --shadow: #0000;
  }
  :not(nav) > a {
    color: lightskyblue;
    &:visited {
      color: #af238d;
    }
  }
}

:root {
  color: var(--text);
}

html {
  background-color: var(--background);
  scrollbar-gutter: stable;
}

header {
  padding-top: 2em;
}

body {
  background-color: var(--body);
  border-radius: 0 0 10px 10px;
  box-shadow: 0 1px 10px 0 var(--shadow);
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0em auto;
  max-width: 40em;
  padding: 0 3em;
}

h1 {
  margin-top: 0;
}

:is(header, main) > section:not(:first-child),
article > section,
footer,
h3 {
  margin: 4em auto 2em;
}

footer {
  padding-bottom: 2em;
}

* > h2 {
  width: max-content;
  & + section {
    border: var(--accent) 1.5pt solid;
    border-style: solid none none none;
  }
}

nav {
  /* Common styles */
  display: flex;
  width: 100%;
  & > a {
    background-color: var(--primary);
    border: var(--shadow) 1.5pt solid;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin: 4px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-decoration: none;
    &.titular-navbar-tab {
      background-color: var(--secondary);
      color: var(--text);
    }
  }
}

nav {
  /* Small screen styles */
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  & > a {
    box-shadow: 0px 2.5px 2.5px 0.25px var(--shadow);
    padding-left: 10px;
    padding-right: 10px;
    &.titular-navbar-tab {
      box-shadow: 0px 2.5px 2.5px 0.25px inset var(--shadow);
    }
  }
}

@media screen and (min-width: 965px) {
  /* Large screen styles */
  nav {
    align-items: unset;
    flex-direction: column;
    justify-content: unset;
    left: -15px;
    position: fixed;
    z-index: -1;
    & > a {
      box-shadow: 2px 0px 5px 0.25px var(--shadow);
      padding-left: 20px;
      padding-right: 15px;
      width: max-content;
      &.titular-navbar-tab {
        box-shadow: -2px 0 5px 0.25px inset var(--shadow);
      }
    }
  }
}
