:root {
  --accent: #7eb1b8;
  --background: #fdf7f8;
  --text: #250307;
  --primary: #a65c60;
  --secondary: #aad0b4;
  --shadow67: #00000067;
  color: var(--text);
}

html {
  background-color: var(--background);
  scrollbar-gutter: stable;
}

header {
  padding-top: 2em;
}

body {
  background-color: white;
  box-shadow: 0 0 10px 0px var(--shadow67);
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0em auto;
  max-width: 40em;
  padding: 0 3em;
}

h1 {
  margin-top: 0;
}

:is(header, main) > section:not(:first-child),
article > section,
footer,
h3 {
  margin: 4em auto 2em;
}

footer {
  padding-bottom: 2em;
}

:not(article) > h2 {
  border: black 1.5pt solid;
  border-radius: 10px;
  padding: 5px 10px;
  width: max-content;
}

nav {
  /* Common styles */
  display: flex;
  width: 100%;
  & > a {
    background-color: var(--primary);
    border: var(--shadow67) 1.5pt solid;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin: 4px;
    padding-bottom: 5px;
    padding-top: 5px;
    text-decoration: none;
    &.titular-navbar-tab {
      background-color: var(--secondary);
      color: var(--text);
    }
  }
}

nav {
  /* Small screen styles */
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
  & > a {
    box-shadow: 0px 2.5px 2.5px 0.25px var(--shadow67);
    padding-left: 10px;
    padding-right: 10px;
    &.titular-navbar-tab {
      box-shadow: 0px 2.5px 2.5px 0.25px inset var(--shadow67);
    }
  }
}

@media screen and (min-width: 965px) {
  /* Large screen styles */
  nav {
    align-items: unset;
    flex-direction: column;
    justify-content: unset;
    left: -15px;
    position: fixed;
    z-index: -1;
    & > a {
      box-shadow: 2px 0px 5px 0.25px var(--shadow67);
      padding-left: 20px;
      padding-right: 15px;
      width: max-content;
      &.titular-navbar-tab {
        box-shadow: -2px 0 5px 0.25px inset var(--shadow67);
      }
    }
  }
}

.projects {
  border-top: solid black;
  h2 {
    border: none;
  }

  & > section {
    border: black 1.5pt solid;
    border-radius: 10px;
    margin-top: 16pt;
    padding: 5px;
  }

  p {
    padding: 10px;
  }
}

.article-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.date-posted {
  display: grid;
  font-weight: bold;
  justify-content: end;
}

.author {
  font-style: italic;
}

article {
  border: solid black;
  border-left-style: none;
  border-right-style: none;
  padding-bottom: 1em;
}
