---
import Social from "./Social.astro";
---
<footer>
  <section>
    <a href="mailto:demetrius@demsem.dev">Email</a>
    <Social platform="LinkedIn" link="linkedin.com/in/demetrius-semanko/" />
    <Social platform="WitchSky" link="witchsky.app/profile/demsem.dev" />
    <Social platform="Tangled" link="tangled.org/demsem.dev" />
    <Social platform="GitHub" link="github.com/DemetriusSemanko" />
  </section>
  <section>
    <span>&copy; 2026 Demetrius</span>
  </section>
</footer>
