---
const { href, label } = Astro.props;
/*
Thank you, bwc9876, for helping me figure the `isActive` stuff out! :-)
*/
const isActive = href === "/"
  ? Astro.url.pathname === "/"
  : Astro.url.pathname.startsWith(href);
---
<a
  {href}
  class={isActive ? "titular-navbar-tab" : undefined}
>{label}</a>
