---
const pageTitle = "Home Page";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
  </head>
  <body>
    <header>
      <h1>{pageTitle}</h1>
      <p>
        Hello! Welcome to my personal site. I believe a personal site gives me
        the control we as a society have lost to mainstream platforms. Despite
        this vast control, I still do not know what to put here 😁. This site is
        very much
        <em>a work in progress</em>, but I hope to develop it into something of
        which I will be proud.
      </p>
    </header>
  </body>
</html>
